.custom-submit-button{
  width: 150px;
  margin: auto;
}

.team-home {
  text-align: right;
}

.team-away {
  text-align: left;
}

.score-frame {
  text-align: center;
  padding-right: 5px;
  padding-left: 5px;
}

.card-body {
  padding-right: 0;
  padding-left: 0;
}

.score {
  max-width: 35px;
  text-align: center;
  border-radius: 5px;
}

.predict-row {
  padding-top: 15px;
  padding-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
}

div.predict-row:hover {
  background-color:palegoldenrod;
  border-radius: 10px;
}

a:link, a:visited, a:hover, a:active{
  text-decoration: none;
  color: black
}
a:hover {
  color: blue;
  font-weight: bold;
}

#contest-name {
	color: teal;
	font-weight: bold;
	text-shadow: 2px;
}

.date {
  color: darkblue;
  font-weight: bold;
}

.show-bets-icon {
  background-color: yellowgreen;
  border-radius: 10px;
  padding: 5px;
}

.show-bets-icon:hover {
  background-color: red;
}