.custom-submit-button {
  width: 150px;
  margin: auto;
}

.team-home {
  text-align: right;
}

.team-away {
  text-align: left;
}

.score-frame {
  width: 50px;
  padding-right: 5px;
  padding-left: 5px;
}

.card-body {
  padding-right: 0;
  padding-left: 0;
}

.score {
  width: 40px;
  /* text-align: center; */
  border-radius: 5px;
}

.binoculars {
  width: 50px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 3px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.predict-row {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
}

div.predict-row:hover {
  background-color: palegoldenrod;
  border-radius: 10px;
}

/* a:link, a:visited, a:hover, a:active{
  text-decoration: none;
  color: black
}
a:hover {
  color: blue;
  font-weight: bold;
} */

#contest-name {
  color: teal;
  font-weight: bold;
  text-shadow: 2px;
}

.date {
  color: darkblue;
  font-weight: bold;
}

.show-bets-icon {
  background-color: yellowgreen;
  border-radius: 10px;
  padding: 7px;
  margin: auto 5px;
}

.show-bets-icon:hover {
  background-color: orange;
}

div.team-home,
div.team-away {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-top: 4px;
}
