.custom-submit-button{
  width: 150px;
  margin: auto;
}

.team-home {
  text-align: right;
}

.team-away {
  text-align: left;
}

.score-frame {
  text-align: center;
  padding-right: 5px;
  padding-left: 5px;
}

.card-body {
  padding-right: 0;
  padding-left: 0;
}

.score {
  max-width: 35px;
  text-align: center;
  border-radius: 5px;
}

.predict-row {
  margin-top: 15px;
  margin-bottom: 15px;
}

#contest-name {
	color: blue;
	font-weight: bold;
	text-shadow: 2px;
}

.date {
  color: darkblue;
  font-weight: bold;
}