@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300&display=swap');

html, body{
  /*height: 100%;*/
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Changa', 'Cardo', serif;
  min-width: 300px;
}

h1 {
  font-size: 26px;
  font-variant: small-caps;
  margin-bottom: 20px;
}

h5 {
  font-size: 22px;
  font-variant: small-caps;
  margin: 0px;
  padding: 0px;
}

#username {
  color: red;
}

#user-info {
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.input-score-frame {
  max-width: 50px;
  text-align: center;
}

.input-score {
  max-width: 35px;
  text-align: center;
  border-radius: 5px;
}

/* .outer-container {
  background-color: gray;
} */

.card {
  /* font-family: 'Rajdhani', sans-serif; */
  margin-bottom: 15px;
}

.card-header {
  border-color: black;
}

.table {
  margin-bottom: 0px;
}

.equal-width-col-6 {
  width: 50%;
}

.equal-width-col-4 {
  width: 33.3%;
}

.score {
  font-family: 'Major Mono Display', monospace;
}

.card-message {
  font-size: larger;
  margin: 25px 0px;
  font: small-c;
}

.fas.fa-circle.exact {
  color: limegreen;
}
.fas.fa-circle.goal-difference {
  color: greenyellow;
}
.fas.fa-circle.winner-only {
  color: palegreen;
}
.fas.fa-circle.zilch {
  color: red;
}

.fas.fa-medal.first-place {
  color: gold;
  text-shadow: 1px 1px 3px black;
}
.fas.fa-medal.second-place {
  color: silver;
  text-shadow: 1px 1px 3px black;
}
.fas.fa-medal.third-place {
  color: peru;
  text-shadow: 1px 1px 3px black;
}

tr.first-place {
  font-weight: bold;
}
tr.second-place {
  font-weight: bold;
}
tr.third-place {
  font-weight: bold;
}

div.card-footer.quote {
  border-color: black;
}
