html {
  height: 100%;
}

body {
  position: relative;
  padding-bottom: 80px;
  font-size: 16px;
  min-width: 300px;
  min-height: 100%;
  font-family: 'Oxygen', sans-serif;
  background-color: #eee;
}

hr {
  border-style: solid none;
  border-width: 1px 0;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  }

/*Navigation bar begin*/
#header-nav {
  background-color: #d3d8db;
  border-radius: 0;
  border: 0;
}

#logo-img {
  background: url(./images/logo.png) no-repeat;
  background-size: 100%;
  width: 50px;
  height: 50px;
  vertical-align: middle;
  margin: 10px 15px;
}

.navbar-header .navbar-brand {
  font-size: 1.8em;
  font-family: 'Satisfy', cursive;
  text-shadow: 1px 1px 50px black;
  font-weight: bold;
  color: black;
  margin-top: 12px;
}

a.navbar-brand {
  margin-top: 20px;
}

#nav-list {
  margin-top: 0px;
}

#login-status span {
  font-weight: bold;
  letter-spacing: 1.5px;
  vertical-align: middle;
}

#login-status {
  font-size: 1.0em;
  margin: 22px 0 0 30px;
  background: green;
  height: 30px;
  border-radius: 20px;
  text-align: center;
}

#nav-list a span {
  font-size: 1.0em;
  /*line-height: 1.5;*/
}

#nav-list a {
  text-align: center;
  color: black;
}

#nav-list a:hover, #nav-list a:focus {
  background-color: gray;
  border-radius: 10px;
}

/*Navigation bar end*/

/*Standing page beings*/
#standing-table {
  margin: auto auto;
}

#table-legend {
  margin: 15px 0;
  color: darkblue;
}

.team1-col {
  text-align: right;
}

.team2-col {
  text-align: left;
}

.input-score-frame {
  max-width: 50px;
  text-align: center;
}

.input-score {
  max-width: 35px;
  text-align: center;
  border-radius: 5px;
}
/*Standing page ends*/

div.diagonal {
-moz-transform:rotate(315deg);
-webkit-transform:rotate(315deg);
-o-transform:rotate(315deg);
-ms-transform:rotate(315deg);
transform(315deg);
width: 35px;
text-shadow: 0 0.4px 0.1px red;
}

.monospace {
  font-family: "Lucida Console", Monaco, monospace;
}

td.first-col {
  text-shadow: 0.3px 0 0;
  width: 50px;
  border-right: solid black 2px;
  border-left: solid black 2px;
}

td.second-c {
  text-shadow: 0.3px 0 0;
  width: 150px;
  border-right: solid black 2px;
  border-left: solid black 2px;
}

#bets-table {
  margin: 20px auto;
  width: auto;
}

td.bets {
  width: 35px;
  border-right: solid gray 0.5px;
  border-left: solid gray 0.5px;
}

/*Home page begin*/
h1 {
  text-align: center;
  font-size: 28px;
  font-family: Neucha;
  text-align: center;
  margin-top: 7.5px;
}

a , a:hover, a:visited, a:active {
  text-decoration: none;
  color: black;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

.table-col {
  /*padding: 10px 15px;*/
}

#submit-button {
  width: 100px;
  font-size: 20px;
  padding: 10px;
  text-shadow: 1px 1px 1px gray;
  margin: 20px auto;
}

#submit-button:hover {
  box-shadow: 0 0 10px darkblue;
}

.datetime {
  background-color: gray;
  color: white;
  border-radius: 5px;
  text-align: center;
  width: 35%;
  margin: auto;
  opacity: 0.5;
}
/*Home page end*/

/*Footer begins*/
.panel-footer {
  width: 100%;
  height: 60px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 1.4em;
  margin-top: 60px;
  line-height: 1.8;
  color: white;
  background-color: #333333;
}

.row section > span {
  font-weight: bold;
}

#copyright {
  font-size: 0.75em;
}

#copyright span{
  font-family: 'Neucha';
  font-size: 1.2em;
}
/*Footer ends*/

/*Media queries begin*/
/*************** Large devices only ***************/
@media (min-width: 1200px) {
  #standing-table {
    width: 60%;
  }
}

/*************** Medium devices only **************/
@media (min-width: 992px) and (max-width: 1199px) {
  #standing-table {
    width: 70%;
  }
}

/*************** Small devices only ***************/
@media (min-width: 768px) and (max-width: 991px) {
  #standing-table {
    width: 100%;
  }
}

/************ Extra small devices only ************/
/*@media (max-width: 767px) {
  #standing-table {
    width: 100%;
  }
}*/

/********* Extra extra small devices only *********/
@media (max-width: 576px) {
  .col-xss-1, .col-xss-2, .col-xss-3, .col-xss-4, .col-xss-5, .col-xss-6, .col-xss-7, .col-xss-8, .col-xss-9, .col-xss-10, .col-xss-11, .col-xss-12 {
    float: left;
  }
  .col-xss-12 {
    width: 100%;
  }
  .col-xss-11 {
    width: 91.66666667%;
  }
  .col-xss-10 {
    width: 83.33333333%;
  }
  .col-xss-9 {
    width: 75%;
  }
  .col-xss-8 {
    width: 66.66666667%;
  }
  .col-xss-7 {
    width: 58.33333333%;
  }
  .col-xss-6 {
    width: 50%;
  }
  .col-xss-5 {
    width: 41.66666667%;
  }
  .col-xss-4 {
    width: 33.33333333%;
  }
  .col-xss-3 {
    width: 25%;
  }
  .col-xss-2 {
    width: 16.66666667%;
  }
  .col-xss-1 {
    width: 8.33333333%;
  }
  .col-xss-pull-12 {
    right: 100%;
  }
  .col-xss-pull-11 {
    right: 91.66666667%;
  }
  .col-xss-pull-10 {
    right: 83.33333333%;
  }
  .col-xss-pull-9 {
    right: 75%;
  }
  .col-xss-pull-8 {
    right: 66.66666667%;
  }
  .col-xss-pull-7 {
    right: 58.33333333%;
  }
  .col-xss-pull-6 {
    right: 50%;
  }
  .col-xss-pull-5 {
    right: 41.66666667%;
  }
  .col-xss-pull-4 {
    right: 33.33333333%;
  }
  .col-xss-pull-3 {
    right: 25%;
  }
  .col-xss-pull-2 {
    right: 16.66666667%;
  }
  .col-xss-pull-1 {
    right: 8.33333333%;
  }
  .col-xss-pull-0 {
    right: auto;
  }
  .col-xss-push-12 {
    left: 100%;
  }
  .col-xss-push-11 {
    left: 91.66666667%;
  }
  .col-xss-push-10 {
    left: 83.33333333%;
  }
  .col-xss-push-9 {
    left: 75%;
  }
  .col-xss-push-8 {
    left: 66.66666667%;
  }
  .col-xss-push-7 {
    left: 58.33333333%;
  }
  .col-xss-push-6 {
    left: 50%;
  }
  .col-xss-push-5 {
    left: 41.66666667%;
  }
  .col-xss-push-4 {
    left: 33.33333333%;
  }
  .col-xss-push-3 {
    left: 25%;
  }
  .col-xss-push-2 {
    left: 16.66666667%;
  }
  .col-xss-push-1 {
    left: 8.33333333%;
  }
  .col-xss-push-0 {
    left: auto;
  }
  .col-xss-offset-12 {
    margin-left: 100%;
  }
  .col-xss-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-xss-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-xss-offset-9 {
    margin-left: 75%;
  }
  .col-xss-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-xss-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-xss-offset-6 {
    margin-left: 50%;
  }
  .col-xss-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-xss-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-xss-offset-3 {
    margin-left: 25%;
  }
  .col-xss-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-xss-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-xss-offset-0 {
    margin-left: 0;
  }
  .hidden-xss {
    display: none !important;
  }

  /*larger glyphicon and text for mobile devices*/
  #collapsable-nav {
    font-size: 1.2em;
  }

  /*clearance between glyphicon and text*/
  #collapsable-nav a span {
      margin-right: 0.5em;
  }
}
/*Media queries end*/

/* Bets table begins */
.first-col {
  font-family: "Lucida Console", Monaco, monospace;
}
/* Bets tabel ends */
