html, body{
  /*height: 100%;*/
  padding-top: 20px;
  padding-bottom: 20px;
}

h1 {
  font-size: 30px;
  margin: 25px auto 25px auto;
  font-variant: small-caps;
}

#user-info {
  font-weight: bold;
  color: white;
}

.team1-col {
  text-align: right;
}

.team2-col {
  text-align: left;
}

.input-score-frame {
  max-width: 50px;
  text-align: center;
}

.input-score {
  max-width: 35px;
  text-align: center;
  border-radius: 5px;
}

.outer-container {
  /*background-color: gray;*/
}