html, body{
  /*height: 100%;*/
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Titillium Web', sans-serif;
  min-width: 300px;
}

h1 {
  font-size: 26px;
  font-variant: small-caps;
  margin-bottom: 20px;
}

h5 {
  font-size: 22px;
  font-variant: small-caps;
  margin: 0px;
  padding: 0px;
}

#username {
  color: red;
}

#user-info {
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.input-score-frame {
  max-width: 50px;
  text-align: center;
}

.input-score {
  max-width: 35px;
  text-align: center;
  border-radius: 5px;
}

.outer-container {
  /*background-color: gray;*/
}

.card {
  font-family: 'Rajdhani', sans-serif;
  margin-bottom: 15px;
}

.table {
  margin-bottom: 0px;
}

.equal-width-col-6 {
  width: 50%;
}

.score {
  font-family: monospace;
}

.card-message {
  font-size: larger;
  margin: 25px 0px;
  font: small-c;
}