{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container vertical-center">
    <article class="card-body mx-auto p-4" style="max-width: 650px;">
        <h3 class="card-title text-center fs-2">Oops, Error 404!</h3>
        <div class="pt-4 pb-2 fs-4 text-center">The page you're looking for doesn't exist 😞</div>
        <div class="text-center pt-3 fs-5"><a href="/"><input class="px-2 py-1" type="button"
                    value="Back to Safety!"></a></div>
    </article>
</div>

{% endblock %}
