{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container vertical-center">
<div class="card bg-light" id="signup-form">
<article class="card-body mx-auto" style="max-width: 400px;">
<h4 class="card-title mt-3 text-center">Sign in</h4>
<form action="../login/" method="post">
  {% csrf_token %}
  <div class="input-group mb-3">
    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
    <input name="username"
           class="form-control"
           placeholder="Username"
           type="text" required>
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
    <input name="password"
           class="form-control"
           placeholder="Password"
           type="password" required>
  </div>
  {% if error_message %}
    <div class="alert alert-danger">{{ error_message }}</div>
  {% endif %}
  <div class="form-group text-center">
    <button type="submit" class="btn btn-primary btn-block"> Sign in </button>
  </div>      
  <div class="text-center p-2">
    Don't have an account? <a href="{% url 'signup' %}" class="link-primary"> Sign up </a>
  </div>
</form>
</article>
</div>
</div>

{% endblock %}
