{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container vertical-center">
<div class="card bg-light" id="signup-form">
<article class="card-body mx-auto" style="max-width: 400px;">
<h4 class="card-title mt-3 text-center">Sign in</h4>
<form action="../login/" method="post">
  {% csrf_token %}
  <div class="form-group input-group">
    <div class="input-group-prepend">
        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
    </div>
    <input name="username"
           class="form-control"
           placeholder="Username"
           type="text">
  </div> <!-- form-group// -->
  <div class="form-group input-group">
    <div class="input-group-prepend">
      <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
    </div>
    <input name="password"
           class="form-control"
           placeholder="Password"
           type="password">
  </div> <!-- form-group// -->
  <div class="form-group">
    <button type="submit" class="btn btn-primary btn-block"> Sign in </button>
  </div> <!-- form-group// -->      
  <p class="text-center">
    Don't have an account? <a href="{% url 'signup' %}"> Sign up </a>
  </p>
</form>
</article>
</div> <!-- card.// -->
</div> 
<!--container end.//-->

{% endblock %}

