{% extends 'base.html' %}
{% load static %}
{% load my_filters %}

{% block content %}

<h1 class="text-center">
  {{ contest.tournament.name }} - <span id="tournament-name">{{ contest.name }}</span>'s Lounge
</h1>

<div class="card text-center">
  <h4 class="card-header">Group Stage</h4>
  <div class="card-body">
    <form action="{% url 'predict' contest.name %}" method="post" class="needs-validation" novalidate>
      {% csrf_token %}
      {% for games_and_bets_and_states, date in games_and_bets_and_states_by_date %}
      <div class="date my-3">{{ date }}</div>
      {% for game, bet, state in games_and_bets_and_states %}
      <div class="row predict-row" style="--bs-columns: 10">
        <div class="col team-home text-end">{{ game.home }}</div>
        <div class="col-1 score-frame">
          <input type="number" name="home_score" value="{{ bet.0 }}" class="form-control score {{ state }}">
        </div>
        <div class="col-1 binoculars">
          <a href="{% url 'show_bets' contest_name=contest.name game_id=game.id %}">
            <i class="fas fa-binoculars show-bets-icon"></i>
          </a>
        </div>
        <div class="col-1 score-frame">
          <input type="number" name="away_score" value="{{ bet.1 }}" class="form-control score {{ state }}">
        </div>
        <div class="col text-start team-away">{{ game.away }}</div>
      </div>
      {% endfor %}
      <hr>
      {% endfor %}
      <div class="col-md-2 col-8 mx-auto">
        <button type="submit" class="btn btn-primary w-100 custom-submit-button">Save</button>
      </div>
    </form>
  </div>
  <div class="card-footer text-muted quote">
    The first principle is that you must not fool yourself and you are the easiest person to fool (R.F.)
  </div>
</div>

<script src="{% static 'predict.js' %}"></script>

{% endblock %}
