{% extends 'base.html' %}
{% load static %}
{% load my_filters %}

{% block content %}

  <h1 class="text-center">
    {{ contest.tournament.name }} - 
    <span id="tournament-name">{{ contest.name }}</span>'s Lounge
  </h1>

<div class="card text-center">
  <h4 class="card-header">Group Stage</h4>
  <div class="card-body">
    <form action="{% url 'predict' contest.name %}" method="post">
      {% csrf_token %}
      {% for games_and_bets, date in games_and_bets_by_date %}
      <div class="date">{{ date }}</div>
      {% for game, bet in games_and_bets %}
      <div class="row predict-row">
      <div class="col text-right">{{ game.home }}</div>
      <div class="col text-center score-frame">
        <input type="number" name="home_score"
               value="{{ bet.0 }}"
               class="score"> 
      </div>
      <div class="col text-center score-frame">
        <input type="number" name="away_score"
               value="{{ bet.1 }}"
               class="score"> 
      </div>   
      <div class="col text-left">{{ game.away }}</div>  
      </div>
      {% endfor %}
      <hr>
      {% endfor %}
      <div class="col-md-4 col-8 mx-auto">
        <button type="submit" class="btn btn-primary btn-block"> Submit </button>
      </div>
    </form>
  </div>
  <div class="card-footer text-muted quote">
    The first principle is that you must not fool yourself and you are the easiest person to fool (R.F.)
  </div>
</div>

{% endblock %}
