{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1 class="text-center"> 
  <span id="contest-name">{{ contest }}</span>'s Lounge
</h1>

<div class="card text-center">
<h4 class="card-header">Standing</h4>
<table class="table table-hover">
  <thead>
    <tr>
      <th class="text-center" scope="col">Rank</th>
      <th class="text-center" scope="col">Player</th>
      <th class="text-center d-none d-lg-table-cell" scope="col">Exact</th>
      <th class="text-center d-none d-lg-table-cell" scope="col">Goal</th>
      <th class="text-center d-none d-lg-table-cell" scope="col">Winner</th>
      <th class="text-center" scope="col">Points</th>
    </tr>
  </thead>
  <tbody>
{% for row in rows %}
    <tr>
      <th class="text-center" scope="row">{{ forloop.counter }}</th>
      <td class="text-center">{{ row.0 }}</td>
      <td class="text-center d-none d-lg-table-cell">{{ row.1 }}</td>
      <td class="text-center d-none d-lg-table-cell">{{ row.2 }}</td>
      <td class="text-center d-none d-lg-table-cell">{{ row.3 }}</td>
      <td class="text-center">{{ row.4 }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>
  <div class="card-footer text-muted quote">
    A very great deal more truth can become known than can be proven. (R.F.)
  </div>
</div>

{% endblock %}